.questionWrapper {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 100%;
  max-width: 600px;
  .question {
    font-size: 20px;
    margin: 10px 0 20px;
    color: $primaryColorD;
    .number {
      padding-right: 10px;
    }
  }
  .field {
    color: $primaryColorDD;
  }
  .questionParagraphbuttons {
    display: flex;
    margin-top: 16px;
    .nextButton {
      margin: 0;
      margin-left: auto;
    }
  }
  .checkbox {
    font-size: 20px;
  }
  & > button {
    align-self: end;
  }
  @include min-sm() {
    max-width: 900px;
    .question {
      font-size: 26px;
    }
    .focusInput .field {
      font-size: 26px;
    }
    .checkbox {
      font-size: 26px;
      svg,
      input {
        width: 35px;
        height: 35px;
      }
      span {
        padding-left: 10px;
      }
    }
  }
}
